b
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 30%;
    border-radius: 20%;
    margin: 0 15px;    
}
.logoWords {
    background: #DEDEE1;
    background: linear-gradient(to bottom,);

}
nav li {
    display: inline;
    margin: 0px 10px;
}
    
.hero {
    display: block;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.hero button {
    background-color: gray;

}
.hero h4 {
    font-size: 50px;
    font-weight: bolder;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}   
.banner {
    text-align: center;       
    padding: 50px;
    background-color: #241f35;
    font-weight: bold;
}   
    
.banner h1 {
    font-size: 25px;
    font-weight: bold;      
} 

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}
.btn {
    background-color: #7d5bbe;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer
}

.plan {
    display: flex;
    flex-direction: column;
    background-color: white;    
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    align-items: center; 
    min-width: 200px; 
} 
.plan h3 {
    font-size: 22px; 
    margin-bottom: 10px;    
}


.plan ul  { 
    list-style: none;
    padding: 0;
}
.plan ul li {
    flex-direction: row;
    margin: 5px;   

}
.plan button {
    background-color: #ff6600;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.price {
    flex-direction: column;
    align-items: center;
}
button {
    background-color: #ff6600;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #e6a06d;
    padding: 20px;
}

.feature {
    width: 20%;
    text-align: center;
    color: #fff;
}

.feature h2 {
    font-size: 20px;
}

.feature span {
    font-weight: bold;
}

.feature img {
    width: 50px;
}

.pricing {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.price-card {
    background: #726f7b;
    color: #fff;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.price-card h3 {
    font-size: 18px;
}

.price-card h4 {
    font-size: 22px;
    margin: 10px 0;
}

.price-card span {
    font-size: 14px;
    color: orange;
}

.price-card ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    color: #ddd;
}

.price-card li {
    margin: 5px 0;
}
.

button {
    background: #e67e22;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #d35400;
}
